{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>RaspberryPi Video Server</title>
    <link rel="icon" href="{% static 'video_control/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'video_control/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'video_control/css/spin.css' %}">
    <script src="{% static 'video_control/js/jquery-3.6.0.min.js' %}"></script>

    <link href="{% static 'video_control/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static 'video_control/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">RaspberryPi Video Server</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link{% if navbar == 'home' %} active{% endif %}" href="{% url 'home' %}">Home</a>
            <a class="nav-link{% if navbar == 'upload' %} active{% endif %}" href="{% url 'upload' %}">Upload</a>
            <a class="nav-link{% if navbar == 'delete' %} active{% endif %}" href="{% url 'delete' %}">Delete</a>
        </div>
        </div>
    </div>
    </nav>


{%block body%}

{%endblock%}

{% block content %}
{% endblock %}
</body>

<script>
    function sendToApi(status){
            $.post(
                "/api/",
                JSON.stringify(status),
                function(data,textStatus, jQxhr ) {
                  console.log("Data: " + data);
                },
                "json")
                .always(function(){location.reload();})
        };
</script>
    {% block extrajs %}
    {% endblock %}

</html>
