{% extends 'video_control/base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <div class="mb-3">
  <form class="form-group" method="post" enctype="multipart/form-data"  id="uploadForm">
    <h4>Max file size 500M</h4>
    <div class="input-group mb-3">
      {% csrf_token %}
      <input type="file" accept=".avi,.mov,.mkv,.mp4,.m4v" name="file" class="form-control" id="inputGroupFile02">
      <button type="submit" class="input-group-text" for="inputGroupFile02">Upload</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-4 text-center">
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-4 text-center">
    <div id="waiting">
      <div class="hexdots-loader"> 
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
  $(document).ready(function(){
    $("#waiting").hide()
    $('.input-group-text').on('click', function(e){
      $("#uploadForm").hide()
      $("#waiting").show()
    });
  });
</script>
{% endblock %}