{% extends 'video_control/base.html' %}

{% load static %}

{% block content %}
<div class="container">
{% if videos %}
  <div class="row">
  {% for video in videos %}
    <div class="card" data-video-id="{{video.id}}" style="width: 26rem;">
      <div class="card-body" data-video-id="{{video.id}}">
        <img class="card-img-top img-thumbnail rounded" id="play_{{video.id}}" data-video-id="{{video.id}}" src="{% if video.cover %}{{ video.cover.url }}{% else %} {% static 'video_control/img/video-icon2.png' %}{% endif %}" alt="{{video}}">
        <div class="card-body" data-video-id="{{video.id}}">
          <h5 class="card-title" data-video-id="{{video.id}}">{{video}}</h5>
          <div class="row">
            <span data-video-id="{{video.id}}">
              <input name="audio_enabled" id="audio_enabled_{{video.id}}" data-video-id="{{video.id}}" type="checkbox" {% if video.audio_enabled %}checked{% endif %}> Audio Enabled
            </span>
          </div>
          <div class="row">
            <span data-video-id="{{video.id}}">
              <input name="play_on_boot" id="play_on_boot_{{video.id}}" data-video-id="{{video.id}}" type="checkbox" {% if video.play_on_boot %}checked{% endif %}> Play on Boot
            </span>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
      <div class="row">
    {% endif %}
  {% endfor %}
  </div>     
{% else %}
  <h1 class="text-center">There are no videos uploaded</h1>
{% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script>

    $(document).ready(function(){
        $('.card').on('click', function(e){
            console.log("Name: " + e.target)
            var videoId = e.target.dataset.videoId

            if (e.target.name == "play_on_boot"){
                var status = {"video": videoId, "play_on_boot": $("#play_on_boot_" + videoId)[0].checked}
                sendToApi(status);
                return
            }
            if (e.target.name == "audio_enabled"){
                var status = {"video": videoId, "audio_enabled": $("#audio_enabled_" + videoId)[0].checked}
                sendToApi(status);
                return
            }
        })
        $('.card-img-top').on('click', function(e){

            console.log("Name: " + e.target)
            var videoId = e.target.dataset.videoId
            // e.preventDefault();

            // if (e.target.name == "delete"){
            //     console.log("Would delete: " + videoId);
            //     var status = {"video": videoId, "delete": true}
            //     sendToApi(status);
                
            // }

            console.log("Would play: " + videoId)
            var status = {"video": videoId, "play": true}
            sendToApi(status);

        })
    });
</script>
{% endblock %}