{% extends 'video_control/base.html' %}

{% load static %}

{% block content %}
<div class="container">
  {% if videos %}
    <div class="row">
    {% for video in videos %}
      <div class="card" data-video-id="{{video.id}}" style="width: 26rem;">
        <div class="card-body" data-video-id="{{video.id}}">
          <img class="card-img-top img-thumbnail rounded" id="play_{{video.id}}" data-video-id="{{video.id}}" src="{% if video.cover %}{{ video.cover.url }}{% else %} {% static 'video_control/img/video-icon2.png' %}{% endif %}" alt="{{video}}">
          <div class="card-body" data-video-id="{{video.id}}">
            <h5 class="card-title" data-video-id="{{video.id}}">{{video}}</h5>
            <a href="#" name="delete" class="btn btn-danger" data-video-id="{{video.id}}">Delete</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
      </div>
        <div class="row">
      {% endif %}
    {% endfor %}
    </div>     
  {% else %}
    <h1 class="text-center">There are no videos uploaded</h1>
  {% endif %}
  </div>

{% endblock %}

{% block extrajs %}
<script>

    $(document).ready(function(){
        $('.btn').on('click', function(e){
            console.log("Name: " + e.target)
            var videoId = e.target.dataset.videoId
            e.preventDefault();
            console.log("Would delete: " + videoId);
            var status = {"video": videoId, "delete": true}
            sendToApi(status);

        })
    });
</script>
{% endblock %}